<section class="wrapper">
        <div class="col-lg-12 mt">
          <div class="row content-panel">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="invoice-body">
                <div>
                  <h1>Universit&agrave Degli Studi Dell'Aquila</h1>
                <address>
                <br>
                <h5><u>contattaci:</u></h5>
                <div class="clearfix"></div>
                <br>
                <strong>AREA SCIENTIFICA</strong><br>
                Via Vetoio (Coppito 2), 67100 Coppito (AQ)<br>
               L'AQUILA<br>
                <abbr title="Phone">P:</abbr> 0862433794/0862433812
              </address>
                <br>
                <div class="row mt">
                  <div class="col-lg-12">
                    <section class="panel">
                      <header class="panel-heading">
                        Raggiungici
                      </header>
                      <div class="panel-body">
                        <div id="gmap-list"></div>
                      </div>
                    </section>
                  </div>
                </div>
                <br>
                </div>
                <!-- /pull-left -->
              </div>
              <!--/col-lg-12 mt -->
      </section>
      <!-- /wrapper -->
