<section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i>Nuovo Tirocinio</h3>
            <div class="form-panel">
                <div class="form">
                    <form class="cmxform form-horizontal style-form" action="creazione_tirocinio" method="POST">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Tirocinio</h4>
                        <div class="form-group">
                            <label for="titolo" class="control-label col-lg-2">Titolo</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="titolo" name="titolo" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="luogo" class="control-label col-lg-2">Luogo</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="luogo" name="luogo" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="settore" class="control-label col-lg-2">Settore</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="settore" name="settore" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="orari" class="control-label col-lg-2">Orari</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="orari" name="orari" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="durata" class="control-label col-lg-2">Durata</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="durata" name="durata" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="obiettivo" class="control-label col-lg-2">Obiettivo</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="obiettivo" name="obiettivo" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="modalita" class="control-label col-lg-2">Modalit&agrave;</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="modalita" name="modalita" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="facilitazioni" class="control-label col-lg-2">Facilitazioni</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="facilitazioni" name="facilitazioni" type="text" required/>
                            </div>
                        </div>
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Tutore Tirocinio</h4>
                        <div class="form-group">
                            <label for="nome_tt" class="control-label col-lg-2">Nome</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="nome_tt" name="nome_tt" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cognome_tt" class="control-label col-lg-2">Cognome</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="cognome_tt" name="cognome_tt" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email_tt" class="control-label col-lg-2">Email</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="email_tt" name="email_tt" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telefono_tt" class="control-label col-lg-2">Telefono</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="telefono_tt" name="telefono_tt" type="text" required/>
                            </div>
                        </div>
                        <input value="submit_tirocinio" name="submit_tirocinio" type="hidden"/>
                        <div class="centered">
                            <button class="btn btn-theme centered"  type="submit"><i class="fa fa-lock"></i>Invia Tirocinio</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
