<section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">
              <div class="col-md-8 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                <h3>${azienda.nome}</h3>
                <h6>Azienda</h6>
                <p>Operante in zona: ${azienda.foroCompetente}</p>
                <br>
                </div>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 profile-text mt mb">
                  <div>
                      <h3>Valutazione</h3>
                  </div>
                  <div>
                      <div class='rating'>
                        <#if valutazione == 0>
                        <#assign n = 5>
                        <#list 1..n as i>
                        <span class="icon">&#9733;</span>
                        </#list> 
                        <#else>
                        <#assign n = valutazione>
                        <#list 1..n as i>
                        <span class="icon-colored">&#9733;</span>
                        </#list>
                        <#assign n = 5-valutazione>
                        <#list 1..n as i>
                        <span class="icon">&#9733;</span>
                        </#list> 
                        </#if>
                    </div>
                      <p><strong>${valutazione}</strong> stelle su <strong>5</strong></p>
                  </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#overview">Informazioni</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#edit">Tirocini</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="centered overview-profile-text">
                          <h5>Indirizzo</h5>
                          <p>${azienda.indirizzo}, ${azienda.citta}(${azienda.provincia}), ${azienda.cap?string["00000"]}</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>Rappresentante Legale</h5>
                          <p>${azienda.rapprLeg}</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>Partita iva</h5>
                          <p>${azienda.piva}</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>Foro Competente</h5>
                          <p>${azienda.foroCompetente}</p>
                        </div>
                      <!-- prima colonna nella seconda riga -->
                      </div>
                      <!-- /col-md-6 -->
                      <div class="col-md-6">
                        <div class="centered overview-profile-text">
                          <h5>Tematica</h5>
                          <p>${azienda.tematica}</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>Corso di Studi</h5>
                          <p>${azienda.corsoStudi}</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>Durata convenzione</h5>
                          <p> Dal ${azienda.inizioConv} Al ${azienda.fineConv}</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>Ragione sociale</h5>
                          <p>${azienda.ragioneSociale}</p>
                        </div>
                        <!-- seconda colonna nella seconda riga -->
                        <!-- /row -->
                      </div>
                      <!-- /col-md-6 -->
                    </div>
                    <!-- /OVERVIEW -->
                  </div>
                  <!-- /tab-pane -->
                  <div id="edit" class="tab-pane">
                    <div class="row">
                        <#if (tirocini??)>
                            <#if (tirocini?size>0)>
                                <div class="content-panel no-shadow">
                                  <table class="table table-hover">
                                    <h4><i class="fa fa-angle-right"></i>Tirocini Disponibili</h4>
                                    <hr>
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Titolo</th>
                                        <th>Modalit&agrave;</th>
                                        <th>Luogo</th>
                                        <th>Durata</th>
                                        <th>Orari</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                     <#assign count=1>
                                     <#list tirocini as tirocinio>
                                      <tr>
                                        <td>${count} <#assign count++></td>
                                        <td>
                                            <a href="tirocinio?id=${tirocinio.getId()}">
                                                ${tirocinio.getTitolo()}
                                            </a>
                                        </td>
                                        <td>${tirocinio.getModalita()}</td>
                                        <td>${tirocinio.getLuogo()}</td>
                                        <td>${tirocinio.getDurata()}</td>
                                        <td>${tirocinio.getOrari()}</td>
                                      </tr>
                                     </#list>
                                    </tbody>
                                  </table>
                                </div>
                            <#else>
                                <div>
                                    <div class="panel text-center maincard">
                                        <h5 class="card-header"><b>Non sono presenti tirocini</b></h5>
                                        <div class="card-body">
                                            <h5 class="card-title">L'azienda non ha ancora pubblicato offerte di tirocinio</h5>
                                          <p class="card-text mainparagraph">Non appena verranno pubblicate nuove offerte saranno visibili in questa sezione.</p>
                                        </div>
                                    </div>
                                </div>
                            </#if>
                        </#if>
                      <!-- /col-lg-8 colonna edit profile -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
