<section class="wrapper">

    <div class=" col-lg-12  main">
        <div class="panel panel-default chat mt-2">
            <div class="panel-heading">Studenti</div>
            <div class="panel-body">
                <ul>
                    <li>
                        <div>
                            <div ><strong>Studente Univaq</strong> <small class="text-muted"></small></div>
                            <p>Sono uno studente, come trovo un tirocinio?</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div ><strong>Internship Tutor Admin</strong> <small class="text-muted"></small></div>
                            <p>Gli studenti che intendono fare un tirocinio o uno stage presso Enti o Aziende convenzionate con l'Universit&agrave; dell'Aquila possono sfogliare le offerte di tirocinio nella sezione "Tirocini" ed
                                eventualmente, cercarne uno specifico tramite la funzione di ricerca.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><strong>Studente Univaq</strong> <small class="text-muted"></small></div>
                            <p>Quando mi sar&agrave; consegnato l' attestato di completamento tirocinio?</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><strong>Internship Tutor Admin</strong> <small class="text-muted"></small></div>
                            <p>Quando un tirocinio &egrave; terminato, l' azienda ha il compito di finalizzare il tutto. Nel momento della conferma, sar&agrave; generato il file.pdf di cui parli.
                                Esso sar&agrave; visualizzabile nella tua homepage appena sar&agrave; disponibile.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default chat mt-2">
            <div class="panel-heading"> Aziende </div>
            <div class="panel-body" style="display: block;">
                <ul>
                    <li>
                        <div>
                            <div><strong>DevFactory S.p.a</strong> <small class="text-muted"></small></div>
                            <p>Come posso partecipare con la mia Azienda?</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><strong class=" primary-font">Internship Tutor Admin</strong> <small class="text-muted"></small></div>
                            <p>Le aziende che intengono pubblicare le proprie proposte di tirocinio devono registrarsi tramite l'apposita sezione fornendo tutti i dati. Una volta completata, bisogna aspettare l'accettazione da parte
                                di un amministratore che verificher&agrave; l'idoneit&agrave; dell' azienda e proceder&agrave; a confermare e ufficializzare la convenzione.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><strong>GalileoDevelopers</strong></div>
                            <p>Come cerco degli studenti per la mia azienda?</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div><strong>Internship Tutor Admin</strong> <small class="text-muted"></small></div>
                            <p>Pubblicando le offerte di tirocinio che la tua azienda propone, saranno gli studendi a candidarsi. Una volta che questi avranno effettuato la domanda di candidatura potranno essere gestiti nella pagina dedicata.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--/.main--> 