<section class="wrapper">
        <#if messaggio??>
        <div class="alert alert-success"><b></b>${messaggio}</div>
        </#if>
    <div class="row mt content-panel">
        <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i>Informazioni Sudente</h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="centered overview-profile-text">
                            <h5>Nome</h5>
                            <p>${studente.getNome()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Nato a</h5>
                            <p>${studente.getCittaNascita()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Residente</h5>
                            <p>${studente.getCittaResidenza()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Telefono</h5>
                            <p>${studente.getTelefono()}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="centered overview-profile-text">
                            <h5>Cognome</h5>
                            <p>${studente.getCognome()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Provincia di</h5>
                            <p>${studente.getProvinciaNascita()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>CAP</h5>
                            <p>${studente.getCapResidenza()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Handicap</h5>
                            <p>${studente.getHandicap()?string('si', 'no')}</p>
                        </div>
                        
                    </div>
                    <div class="col-md-4">                        
                        <div class="centered overview-profile-text">
                            <h5>Codice Fsicale</h5>
                            <p>${studente.getCodFiscale()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Data</h5>
                            <p>${studente.getDataNascita()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Provincia di Residenza</h5>
                            <p>${studente.getProvinciaResidenza()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Corso di Laurea</h5>
                            <p>${studente.getCorsoLaurea()}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt content-panel">
        <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i>Informazioni Richiesta</h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="centered overview-profile-text">
                            <h5>CFU Richiesti</h5>
                            <p>${richiesta_tirocinio.getCfu()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Dottorato di Ricerca</h5>
                            <p>${richiesta_tirocinio.getDottorato()}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="centered overview-profile-text">
                            <h5>Diploma</h5>
                            <p>${richiesta_tirocinio.getDiploma()}</p>
                        </div>
                        <div class="centered overview-profile-text">
                            <h5>Specializzazione</h5>
                            <p>${richiesta_tirocinio.getSpecializzazione()}</p>
                        </div>
                    </div>
                    <div class="col-md-4">                        
                        <div class="centered overview-profile-text">
                            <h5>Laurea</h5>
                            <p>${richiesta_tirocinio.getLaurea()}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt content-panel">
        <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i>Informazioni Tutore Universitario</h3>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="centered overview-profile-text">
                            <h5>Nome e Cognome</h5>
                            <p>${tutore_uni.getNome()} ${tutore_uni.getCognome()}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="centered overview-profile-text">
                            <h5>Email</h5>
                            <p>${tutore_uni.getEmail()}</p>
                        </div>
                    </div>
                    <div class="col-md-4">                        
                        <div class="centered overview-profile-text">
                            <h5>Telefono</h5>
                            <p>${tutore_uni.getTelefono()}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt content-panel">
        <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i>Informazioni Finali Richiesta</h3>
            <div class="panel-body">
                <div class="row">
                    <form action="gestione_richiesta" method="POST">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-lg-12" for="data_inizio" >Inizio Tirocinio</label>
                            <div class="">
                              <input class="form-control form-control-inline default-date-picker" value='${(richiesta_tirocinio.getDataInizio()?string["dd/MM/yyyy"])!"inserire la data di inizio tirocinio"}' onfocus="(this.type='date')" type="text" id="data_inizio" name="data_inizio" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-lg-12" for="data_fine" >Fine Tirocinio</label>
                            <div class="">
                              <input class="form-control form-control-inline default-date-picker" value='${(richiesta_tirocinio.getDataFine()?string["dd/MM/yyyy"])!"inserire la data di fine tirocinio"}' onfocus="(this.type='date')" type="text" id="data_fine" name="data_fine" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input value="${studente.getId()}" type="hidden" id="studente" name="studente" >
                        <input  value="${tirocinio.getId()}" type="hidden" id="tirocinio" name="tirocinio" >
                        <div class="centered mt">
                            <button class="btn btn-theme centered" name="imposta_date" value="imposta_date" type="submit"><i class="fa fa-calendar"></i> Imposta periodo di svolgimento</button>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="row mt">
                    <div class="col-md-4">
                        <div>
                            <p>Visualizza e Stampa il modulo per la candidatura</p>
                            <a href="documenti?tipo=2&studente=${studente.getId()}&tirocinio=${tirocinio.getId()}" target="_blank" rel="noopener noreferrer">
                            <button class="btn btn-theme centered"><i class="fa fa-file"></i> Visualizza Documento</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p>Carica una scansione del documento firmato e timbrato</p>
                        <form class="form-horizontal style-form" method="POST" action="upload" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" name="tipo" value="2" />
                                <input value="${studente.getId()}" type="hidden" id="studente" name="studente" >
                                <input  value="${tirocinio.getId()}" type="hidden" id="tirocinio" name="tirocinio" >
                                <div class="controls col-md-12">
                                  <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <span class="btn btn-theme btn-file">
                                    <input id="carica_file" type="file" name="file" class="default" />
                                    <button class="btn btn-theme centered" type="submit" id="button_carica_file"><i class="fa fa-upload"></i></button>
                                    </span>
                                    <span class="fileupload-preview" style="margin-left:5px;"></span>
                                  </div>
                                </div>
                             </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <p>Potrai abilitare lo studente solo se &egrave; prensente il documento</p>
                        <div class="contenitore3 centered">
                            <#if richiesta_tirocinio.getSrcDocCandid()?? && richiesta_tirocinio.getDataInizio() != null && richiesta_tirocinio.getDataFine() != null>
                                <a href="gestione_richiesta?tirocinio=${tirocinio.getId()}&studente=${studente.getId()}&accetta=accetta">
                                    <button class="btn btn-theme accetta-richiesta" type="submit" name="modifica_profilo" value="modifica_profilo"><i class="fa fa-check"></i> Accetta Richiesta</button>
                                </a>
                            <#else>
                                <button class="btn btn-theme accetta-richiesta" type="submit" name="modifica_profilo" value="modifica_profilo" disabled><i class="fa fa-check"></i> Accetta Richiesta</button>
                            </#if>
                                <a href="gestione_richiesta?tirocinio=${tirocinio.getId()}&studente=${studente.getId()}&rifiuta=rifiuta">
                                    <button class="btn btn-theme rifiuta-richiesta" type="submit" name="modifica_profilo" value="modifica_profilo"><i class="fa fa-times"></i> Rifiuta Richiesta</button>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
