<section class="wrapper">
<div class="row">
        <div class="col-md-12 mt">
            <table class="table table-hover">
            <h4><i class="fa fa-angle-right"></i> Riepilogo Tirocini <i class="fa fa-sort-amount-asc"></i></h4>
            <hr>
            <thead>
              <tr>
                <th>#</th>
                <th>Titolo</th>
                <th>Stato</th>
                <th>Luogo</th>
                <th>Durata</th>
                <th>Gestione</th>
              </tr>
            </thead>
            <tbody>
            <#if (tirocini_attivi?size>0)>
              <#list tirocini_attivi as tirocinio>
              <tr>
                <td>1</td>
                <td>${tirocinio.getTitolo()}</td>
                <td>
                    <#if tirocinio.getApprovato()>
                    Approvato
                    <#else>
                    In sospeso
                    </#if>
                </td>
                <td>${tirocinio.getLuogo()}</td>
                <td>${tirocinio.getDurata()}</td>
                <td>
                    <a href="tirocinio?id=${tirocinio.getId()}">
                    <button class="btn btn-theme centered"><i class="fa fa-lock"></i> Gestisci</button>
                    </a>
                </td>
              </tr>
              </#list>
            <#else>
                <tr>
                    <td>La lista dei tirocini attivi &egrave; vuota</td>
                </tr>
            </#if>
            </tbody>
            </table>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12 mt">
            <div>
                <div class="panel text-center maincard">
                    <h5 class="card-header"><b>Crea una nuova offerta di tirocinio</b></h5>
                    <div class="card-body">
                        <h5 class="card-title">Una volta creato il tirocinio dovr&agrave; essere approvato dall'amministratore di sistema</h5>
                      <p class="card-text mainparagraph">Puoi sempre visualizzare lo stato dei tirocini nell'homepage</p>
                      <a href="creazione_tirocinio" name='submit_tirocinio' value='submit' class="mainbtn"> <i class="fa fa-mortar-board"></i> Crea Tirocinio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>