<section class="wrapper">
    <div class="row">
        <div class="col-md-12 mt">
            <table class="table table-hover">
            <h4><i class="fa fa-angle-right"></i> Tirocini Attivi <i class="fa fa-caret-square-o-right"></i></h4>
            <hr>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
            </table>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12 mt">
          <table class="table table-hover">
            <h4><i class="fa fa-angle-right"></i> Tirocini Conclusi <i class="fa fa-check"></i></h4>
            <hr>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>          
    </div>
    <div class="row">
        <div class="col-md-12 mt">
          <table class="table table-hover">
            <h4><i class="fa fa-angle-right"></i> Tirocini in Sospeso <i class="fa fa-gears"></i></h4>
            <hr>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>          
    </div>
    <div class="row">
        <div class="col-md-12 mt">
          <table class="table table-hover">
            <h4><i class="fa fa-angle-right"></i> Tirocini Rifiutati <i class="fa fa-times"></i></h4>
            <hr>
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
        </div>          
    </div>
</section>