    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12 ">
            <!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>${Test}</h3>
            </div>
            <div>
                <div class="panel text-center maincard">
                    <h5 class="card-header"><b>Benvenuti in InternshipTutor</b></h5>
                    <div class="card-body">
                      <h5 class="card-title">Il portale per mettere in contatto studenti, universit&agrave; e aziende.</h5>
                      <p class="card-text mainparagraph">Internship Tutor nasce per favorire e semplificare il processo di stipulazione di un tirocinio,
                          dalla pubblicazione all'approvazione da parte dell'azienda</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel text-center maincard">
                    <h5 class="card-header"><b>Registrati come Studente</b></h5>
                    <div class="card-body">
                      <h5 class="card-title">Accedi ai tirocini</h5>
                      <p class="card-text mainparagraph">Come studente potrai navigare tra le offerte di tirocinio proposte dalle aziende e candidarti a quella pi&ugrave; adatta a te.</p>
                      <a href="registrazione" class="mainbtn"> <i class="fa fa-mortar-board"></i> Registrati</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="panel text-center maincard">
                    <h5 class="card-header"><b>Registrati come Azienda</b></h5>
                    <div class="card-body">
                        <h5 class="card-title">Pubblica Offerte</h5>
                      <p class="card-text mainparagraph">Come azienda, una volta terminata la registrazione, potrai pubblicare offerte di tirocinio e gestirle autonomamente.</p>
                      <a href="registrazione" class="mainbtn"> <i class="fa fa-industry"></i> Registrati</a>
                    </div>
                </div>
            </div>

          </div>
        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->

</body>

</html>
