<section class="wrapper">
    <div class="row mt">
        <div class="col-md-12">
            <div class="login-panel">
                <div class="login-header">
                    LOGIN
                </div>
                <div class="form">
                    <form class="cmxform form-horizontal style-form" action="Login">
                        <div class="form-group">
                            <label for="user" class="control-label col-lg-2">Username</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="user" name="user" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="control-label col-lg-2">Password</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="pass" name="pass" type="password" required/>
                            </div>
                        </div>
                        <p><a href=""><u>Non hai ancora un account? registrati</u></a></p>
                        <div class="centered">
                        <button class="btn btn-theme centered" type="submit"><i class="fa fa-lock"></i>  Accedi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>