<section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
            <div class="row content-panel">
                <div class="col-md-8 profile-text mt mb centered">
                    <div class="right-divider hidden-sm hidden-xs">
                        <#if tipo==2>
                        <h3>${azienda.nome}</h3>
                        <h6>Azienda</h6>
                        <p>Operante in zona: ${azienda.foroCompetente}</p>
                        <br>
                        </#if>
                        <#if tipo==1>
                        <h3>${studente.nome} ${studente.cognome}</h3>
                        <h6>Studente</h6>
                        <p>Studente presso l'universit&agrave degli studi dell'Aquila</p>
                        <br>
                        </#if>
                    </div>
                </div>
                <!-- /col-md-4 -->
                <div class="col-md-4 profile-text mt mb">
                    <#if tipo==2>
                    <div>
                        <h3>Valutazione</h3>
                    </div>
                    <div class='rating'>
                        <#if valutazione == 0>
                        <#assign n = 5>
                        <#list 1..n as i>
                        <span class="icon">&#9733;</span>
                        </#list> 
                        <#else>
                        <#assign n = valutazione>
                        <#list 1..n as i>
                        <span class="icon-colored">&#9733;</span>
                        </#list>
                        <#assign n = 5-valutazione>
                        <#list 1..n as i>
                        <span class="icon">&#9733;</span>
                        </#list> 
                        </#if>
                    </div>
                    <p><strong>${valutazione}</strong> stelle su <strong>5</strong></p>
                    </#if>
                    <#if tipo==1>
                    <div>
                        <h3>Tirocini attivi: ${tirocini_attivi!"0"}</h3>
                    </div>
                    <div>
                        <h3>Tirocini conclusi: ${tirocini_conclusi!"0"}</h3>
                    </div>
                    <div>
                        <h3>Tirocini in sospeso: ${tirocini_sospesi!"0"}</h3>
                    </div>
                    </#if>
                </div>
                <!-- /col-md-4 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /col-lg-12 -->
        <div class="col-lg-12 mt">
            <div class="row content-panel">
                <div class="panel-heading">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a data-toggle="tab" href="#overview">Riepilogo</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#edit">Modifica Profilo</a>
                        </li>
                    </ul>
                </div>
                <!-- /panel-heading -->
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="overview" class="tab-pane active">
                            <div class="row">
                                <#if tipo==1>
                                <div class="col-md-6">
                                    <div class="centered overview-profile-text">
                                        <h5>Nome</h5>
                                        <p>${studente.nome}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Cognome</h5>
                                        <p>${studente.cognome}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Codice Fiscale</h5>
                                        <p>${studente.codFiscale}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Data Di Nascita</h5>
                                        <p>${studente.dataNascita}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Citt&agrave Di Nascita</h5>
                                        <p>${studente.cittaNascita}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Provincia Di Nascita</h5>
                                        <p>${studente.getProvinciaNascita()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Telefono</h5>
                                        <p>${studente.getTelefono()}</p>
                                    </div>
                                    <!-- prima colonna nella seconda riga -->
                                </div>
                                <!-- /col-md-6 -->
                                <div class="col-md-6">
                                    <div class="centered overview-profile-text">
                                        <h5>Corso Di Laurea</h5>
                                        <p>${studente.corsoLaurea}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Citt&agrave Di Residenza</h5>
                                        <p>${studente.getCittaResidenza()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Provincia Di Residenza</h5>
                                        <p>${studente.getProvinciaResidenza()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Cap</h5>
                                        <p>${studente.capResidenza?string["00000"]}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Username</h5>
                                        <p>${utente.username}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Email</h5>
                                        <p>${utente.email}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Handicap</h5>
                                        <p>${studente.getHandicap()?string('si', 'no')}</p>
                                    </div>
                                    <!-- seconda colonna nella seconda riga -->
                                    <!-- /row -->
                                </div>
                                </#if>
                                <#if tipo==2>
                                <div class="col-md-6">
                                    <div class="centered overview-profile-text">
                                        <h5>Nome</h5>
                                        <p>${azienda.getNome()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Indirizzo</h5>
                                        <p>${azienda.getIndirizzo()}, ${azienda.citta}(${azienda.provincia}), ${azienda.getCap()?string["00000"]}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Rappresentante Legale</h5>
                                        <p>${azienda.rapprLeg}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Partita iva</h5>
                                        <p>${azienda.piva}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Foro Competente</h5>
                                        <p>${azienda.foroCompetente}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Tematica</h5>
                                        <p>${azienda.getTematica()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Corso di Studi</h5>
                                        <p>${azienda.corsoStudi}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Durata convenzione</h5>
                                        <p>${azienda.inizioConv} - ${azienda.fineConv}</p>
                                    </div>
                                    <!-- prima colonna nella seconda riga -->
                                </div>
                                <!-- /col-md-6 -->
                                <div class="col-md-6">
                                    <div class="centered overview-profile-text">
                                        <h5>Ragione sociale</h5>
                                        <p>${azienda.ragioneSociale}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Username</h5>
                                        <p>${utente.username}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Email</h5>
                                        <p>${utente.email}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Nome Responsabile Tirocini</h5>
                                        <p>${responsabile_tirocini.getNome()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Cognome Responsabile Tirocini</h5>
                                        <p>${responsabile_tirocini.getCognome()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Email Responsabile Tirocini</h5>
                                        <p>${responsabile_tirocini.getEmail()}</p>
                                    </div>
                                    <div class="centered overview-profile-text">
                                        <h5>Telefono Responsabile Tirocini</h5>
                                        <p>${responsabile_tirocini.getTelefono()}</p>
                                    </div>
                                </div>
                                </#if>
                                <!-- /col-md-6 -->
                            </div>
                            <!-- /OVERVIEW -->
                        </div>
                        <!-- /tab-pane -->
                        <div id="edit" class="tab-pane">
                            <div class="row">
                                <div class="edit-profile-form-panel">
                                    <#if tipo==2>

                                    <form class="cmxform form-horizontal style-form" action="profilo">
                                        <h4 class="mb sub-header-edit-profile"> Informazioni Azienda</h4>
                                        <div class="form-group">
                                            <label for="nome" class="control-label col-lg-2">Nome</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="nome" name="nome" value="${azienda.getNome()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="indirizzo" class="control-label col-lg-2">Indirizzo</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="indirizzo" name="indirizzo" value="${azienda.getIndirizzo()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="citta" class="control-label col-lg-2">Citt&agrave;</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="citta" name="citta" value="${azienda.getCitta()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="provincia" class="control-label col-lg-2">Provincia</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="provincia" name="provincia" value="${azienda.getProvincia()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cap" class="control-label col-lg-2">Cap</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="cap" name="cap" value='${azienda.getCap()?string["00000"]}' type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="rappresentante_legale" class="control-label col-lg-2">Rappresentante Legale</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="rappresentante_legale" name="rappresentante_legale" value="${azienda.getRapprLeg()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="piva" class="control-label col-lg-2">Partita IVA</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="piva" name="piva" value="${azienda.getPiva()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="foroCompetente" class="control-label col-lg-2">Foro Competente</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="foroCompetente" name="foro_competente" value="${azienda.getForoCompetente()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tematica" class="control-label col-lg-2">Tematica</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="tematica" name="tematica" value="${azienda.getTematica()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="corso_studio" class="control-label col-lg-2">Corso di Studi</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="corso_studio" name="corso_studio" value="${azienda.getCorsoStudi()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inizio_conv" class="control-label col-lg-2">Inizio Convenzione</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="inizio_conv" name="inizio_conv" value="${azienda.getInizioConv()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="fine_conv" class="control-label col-lg-2">Fine Convenzione</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="fine_conv" name="fine_conv" value="${azienda.getFineConv()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ragione_sociale" class="control-label col-lg-2">Ragione Sociale</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="ragione_sociale" name="ragione_sociale" value="${azienda.getRagioneSociale()}" type="text" required/>
                                            </div>
                                        </div>
                                        <h4 class="mb sub-header-edit-profile"> Informazioni Utente</h4>
                                        <div class="form-group">
                                            <label for="username" class="control-label col-lg-2">Username</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="username" name="username" value="${utente.getUsername()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="control-label col-lg-2">Email</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="username" name="email" value="${utente.getEmail()}" type="text" required/>
                                            </div>
                                        </div>
                                        <h4 class="mb sub-header-edit-profile"> Informazioni Responsabile Tirocini</h4>
                                        <div class="form-group">
                                            <label for="nome_rt" class="control-label col-lg-2">Nome Responsabile Tirocini</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="nome_rt" name="nome_rt" value="${responsabile_tirocini.getNome()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cognome_rt" class="control-label col-lg-2">Cognome Responsabile Tirocini</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="cognome_rt" name="cognome_rt" value="${responsabile_tirocini.getCognome()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email_rt" class="control-label col-lg-2">Email Responsabile Tirocini</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="email_rt" name="email_rt" value="${responsabile_tirocini.getEmail()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="telefono_rt" class="control-label col-lg-2">Telefono Responsabile Tirocini</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="telefono_rt" name="telefono_rt" value="${responsabile_tirocini.getTelefono()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="centered">
                                            <button class="btn btn-theme centered" type="submit" name="modifica_profilo" value="modifica_profilo"><i class="fa fa-cogs"></i>  Modifica</button>
                                        </div>
                                    </form>

                                    </#if>
                                    <#if tipo==1>

                                    <form class="cmxform form-horizontal style-form" action="profilo">
                                        <h4 class="mb sub-header-edit-profile"> Informazioni Studente</h4>
                                        <div class="form-group">
                                            <label for="nome" class="control-label col-lg-2">Nome</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="nome" name="nome" value="${studente.nome}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cognome" class="control-label col-lg-2">Cognome</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="cognome" name="cognome" value="${studente.cognome}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="codice_fiscale" class="control-label col-lg-2">Codice Fiscale</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="codice_fiscale" name="codice_fiscale" value="${studente.codFiscale}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-lg-2" for="data_nascita" >Data di Nascita</label>
                                            <div class="col-sm-10">
                                                <input class="form-control form-control-inline default-date-picker" value="${studente.dataNascita}" size="16" type="date" id="data_nascita" name="data_nascita" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="citta_nascita" class="control-label col-lg-2">Citt&agrave di nascita</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="citta_nascita" name="citta_nascita" value="${studente.cittaNascita}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="provincia_nascita" class="control-label col-lg-2">Provincia di nascita</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="provincia_nascita" name="provincia_nascita" value="${studente.getProvinciaNascita()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="telefono" class="control-label col-lg-2">Telefono</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="telefono" name="telefono" value="${studente.getTelefono()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="corso_laurea" class="control-label col-lg-2">Corso di laurea</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="corso_laurea" name="corso_laurea" value="${studente.corsoLaurea}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="citta_residenza" class="control-label col-lg-2">Citt&agrave di residenza</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="citta_residenza" name="citta_residenza" value="${studente.getCittaResidenza()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="provincia_residenza" class="control-label col-lg-2">Provincia di residenza</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="provincia_residenza" name="provincia_residenza" value="${studente.getProvinciaResidenza()}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cap_residenza" class="control-label col-lg-2">CAP</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="cap_residenza" name="cap_residenza" value='${studente.capResidenza?string["00000"]}' type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <h5 class="col-lg-2">Portatore di handicap?</h5>
                                            <div class="col-sm-10">
                                                <#if studente.handicap>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="handicap" id="optionsRadios1" checked value="true">
                                                        SI
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="handicap" id="optionsRadios2" value="false">
                                                        NO
                                                    </label>
                                                </div>
                                                <#else>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="handicap" id="optionsRadios1" value="true">
                                                        SI
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="handicap" id="optionsRadios2" value="false" checked>
                                                        NO
                                                    </label>
                                                </div>
                                                </#if>
                                            </div>
                                        </div>
                                        <h4 class="mb sub-header-edit-profile"> Informazioni Utente</h4>
                                        <div class="form-group">
                                            <label for="username" class="control-label col-lg-2">Username</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="username" name="username" value="${utente.username}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="control-label col-lg-2">Email</label>
                                            <div class="col-sm-10">
                                                <input class=" form-control" id="email" name="email" value="${utente.email}" type="text" required/>
                                            </div>
                                        </div>
                                        <div class="centered">
                                            <button class="btn btn-theme centered" type="submit" name="modifica_profilo" value="modifica_profilo"><i class="fa fa-cogs"></i>  Modifica</button>
                                        </div>
                                    </form>
                                    </#if>
                                </div>

                                <!-- /col-lg-8 colonna edit profile -->
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /tab-pane -->
                    </div>
                    <!-- /tab-content -->
                </div>
                <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
