<section class="wrapper">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">
              <div class="col-md-8 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                <h3>Sam Soffes</h3>
                <h6>Studente</h6>
                <p>Studente presso l'universit&agrave degli studi dell'Aquila</p>
                <br>
                </div>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 profile-text mt mb">
                  <div>
                      <h3>Tirocini attivi: 3</h3>
                  </div>
                  <div>
                      <h3>Tirocini conclusi: 3</h3>
                  </div>
                  <div>
                      <h3>Tirocini in sospeso: 3</h3>
                  </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li class="active">
                    <a data-toggle="tab" href="#overview">Overview</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#edit">Edit Profile</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="centered overview-profile-text">
                          <h5>nome</h5>
                          <p>${studente.nome}</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>${studente.cognome}</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>${studente.codFiscale}</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>data di nascita</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>citt&agrave di nascita</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>provincia di nascita</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>telefono</h5>
                          <p>titolo</p>
                        </div>
                      <!-- prima colonna nella seconda riga -->
                      </div>
                      <!-- /col-md-6 -->
                      <div class="col-md-6">
                        <div class="centered overview-profile-text">
                          <h5>corso di laurea</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>citt&agrave di residenza</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>provincia di residenza</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>cap</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>username</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>password</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>email</h5>
                          <p>titolo</p>
                        </div>
                        <div class="centered overview-profile-text">
                          <h5>handicap</h5>
                          <p>titolo</p>
                        </div>
                        <!-- seconda colonna nella seconda riga -->
                        <!-- /row -->
                      </div>
                      <!-- /col-md-6 -->
                    </div>
                    <!-- /OVERVIEW -->
                  </div>
                  <!-- /tab-pane -->
                  <div id="edit" class="tab-pane">
                    <div class="row">
                        <div class="edit-profile-form-panel">
                            <form class="cmxform form-horizontal style-form">
                                <div class="form-group">
                                    <label for="nome" class="control-label col-lg-2">Nome</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="nome" name="nome" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cognome" class="control-label col-lg-2">Cognome</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="cognome" name="cognome" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="CF" class="control-label col-lg-2">Codice Fiscale</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="CF" name="CF" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-lg-2" for="data_nascita" >Data di Nascita</label>
                                    <div class="col-sm-10">
                                      <input class="form-control form-control-inline default-date-picker" size="16" type="date" id="data_nascita" name="data_nascita" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cittaNascita" class="control-label col-lg-2">Citt&agrave di nascita</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="CittaNascita" name="CittaNascita" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="provNascita" class="control-label col-lg-2">Provincia di nascita</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="provNascita" name="provNascita" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tel" class="control-label col-lg-2">Telefono</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="tel" name="tel" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="laurea" class="control-label col-lg-2">Corso di laurea</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="laurea" name="laurea" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cittaRes" class="control-label col-lg-2">Citt&agrave di residenza</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="cittaRes" name="cittaRes" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="provRes" class="control-label col-lg-2">Provincia di residenza</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="provRes" name="provRes" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cap" class="control-label col-lg-2">CAP</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="cap" name="cap" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username" class="control-label col-lg-2">Username</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="username" name="username" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pass" class="control-label col-lg-2">Password</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="pass" name="pass" type="password" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label col-lg-2">Email</label>
                                    <div class="col-sm-10">
                                      <input class=" form-control" id="email" name="email" type="text" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                <h5 class="col-lg-2">Portatore di handicap?</h5>
                                <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="si">
                                      SI
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="no" checked>
                                      NO
                                    </label>
                                </div>
                                </div>
                                </div>
                                <div class="centered">
                                <button class="btn btn-theme centered" type="submit"><i class="fa fa-lock"></i>  Modifica</button>
                                </div>
                            </form>
                        </div>
                      <!-- /col-lg-8 colonna edit profile -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>