<section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
            <h3><i class="fa fa-angle-right"></i>Registrati come studente</h3>
            <p><a href="registrazione_azienda"><u>Non sei uno studente? registrati come azienda</u></a></p>
            <div class="form-panel">
                <div class="form">
                    <form class="cmxform form-horizontal style-form" method="POST">
                        <div class="form-group">
                            <label for="nome" class="control-label col-lg-2">Nome</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="nome" name="nome" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cognome" class="control-label col-lg-2">Cognome</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="cognome" name="cognome" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="codice_fiscale" class="control-label col-lg-2">Codice Fiscale</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="codice_fiscale" name="codice_fiscale" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="data_nascita" >Data di Nascita</label>
                            <div class="col-sm-10">
                              <input class="form-control form-control-inline default-date-picker" size="16" type="date" id="data_nascita" name="data_nascita" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cittaNascita" class="control-label col-lg-2">Citt&agrave di nascita</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="citta_nascita" name="citta_nascita" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="provNascita" class="control-label col-lg-2">Provincia di nascita</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="provincia_nascita" name="provincia_nascita" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tel" class="control-label col-lg-2">Telefono</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="telefono" name="telefono" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="laurea" class="control-label col-lg-2">Corso di laurea</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="corso_laurea" name="corso_laurea" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cittaRes" class="control-label col-lg-2">Citt&agrave di residenza</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="citta_residenza" name="citta_residenza" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="provRes" class="control-label col-lg-2">Provincia di residenza</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="provincia_residenza" name="provincia_residenza" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cap" class="control-label col-lg-2">CAP</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="cap_residenza" name="cap_residenza" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="control-label col-lg-2">Username</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="username" name="username" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass" class="control-label col-lg-2">Password</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="password" name="password" type="password" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label col-lg-2">Email</label>
                            <div class="col-sm-10">
                              <input class=" form-control" id="email" name="email" type="text" required/>
                            </div>
                        </div>
                        <div class="form-group">
                        <h5 class="col-lg-2">Portatore di handicap?</h5>
                        <div class="col-sm-10">
                        <div class="radio">
                            <label>
                              <input type="radio" name="handicap" id="optionsRadios1" value="true">
                              SI
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                              <input type="radio" name="handicap" id="optionsRadios2" value="false" checked>
                              NO
                            </label>
                        </div>
                        <div class="centered">
                            <button class="btn btn-theme centered" name="register_studente" value="register" type="submit"><i class="fa fa-user-plus"></i> Registrati</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>