<section class="wrapper">
    <div class="row mt">
        <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i>Registrati</h4>
            <div class="form-panel">
                <div class="form">
                    <form class="cmxform form-horizontal style-form">
                        <div class="left-field">
                        <div class="form-group">
                            <label for="firstname" class="control-label col-lg-2">Firstname</label>
                            <div class="col-lg-10">
                              <input class=" form-control" id="firstname" name="firstname" type="text" />
                            </div>
                        </div>
                        </div>
                        <div class="right-field">
                        <div class="form-group">
                            <label for="firstname" class="control-label col-lg-2">right</label>
                            <div class="col-lg-10">
                              <input class=" form-control" id="firstname" name="firstname" type="text" />
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>