<section class="wrapper">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4>Ricerca Tirocinio</h4>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label for="titolo" class="control-label col-lg-10">Ricerca per titolo tirocinio</label>
                            <div class="col-sm-12">
                              <input class=" form-control" id="titolo" name="titolo" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mt">
                        <div class="col-md-4">
                            <div class="row mt">
                                <div class="form-group">
                                    <label for="corsoStudio" class="control-label col-lg-10">Corso di studi</label>
                                    <div class="col-sm-12">
                                      <input class=" form-control" id="corsoStudio" name="corsoStudio" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt">
                            <div class="form-group">
                                <label for="obiettivi" class="control-label col-lg-10">Obiettivi</label>
                                <div class="col-sm-12">
                                  <input class=" form-control" id="obiettivi" name="obiettivi" type="text"/>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row mt">
                            <div class="form-group">
                                <label for="durata" class="control-label col-lg-10">Durata</label>
                                <div class="col-sm-12">
                                  <input class=" form-control" id="durata" name="durata" type="text"/>
                                </div>
                            </div>
                            </div>
                            <div class="row mt">
                            <div class="form-group">
                                <label for="facilitazioni" class="control-label col-lg-10">Facilitazioni</label>
                                <div class="col-sm-12">
                                  <input class=" form-control" id="facilitazioni" name="facilitazioni" type="text"/>
                                </div>
                            </div>
                            </div>
                            <div class="row mt">
                                 <div class="centered">
                                    <button class="btn btn-theme centered"  type="submit"><i class="fa fa-search"></i> Ricerca Tirocinio</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row mt">
                            <div class="form-group">
                                <label for="settore" class="control-label col-lg-10">Settore</label>
                                <div class="col-sm-12">
                                  <input class=" form-control" id="settore" name="settore" type="text"/>
                                </div>
                            </div>
                            </div>
                            <div class="row mt">
                            <div class="form-group">
                                <label for="luogo" class="control-label col-lg-10">Luogo</label>
                                <div class="col-sm-12">
                                  <input class=" form-control" id="luogo" name="luogo" type="text"/>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- /col-md-12 -->
        <div class="col-md-12 mt">
            <#if (tirocini??)>
                <#if (tirocini?size>0)>
                    <div class="content-panel">
                      <table class="table table-hover">
                        <h4><i class="fa fa-angle-right"></i>Tirocini Disponibili</h4>
                        <hr>
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Titolo</th>
                            <th>Stato</th>
                            <th>Luogo</th>
                            <th>Durata</th>
                            <th>Orari</th>
                          </tr>
                        </thead>
                        <tbody>
                         <#list tirocini as tirocinio>
                          <tr>
                            <td>1</td>
                            <td>${tirocinio.getTitolo()}</td>
                            <td>${tirocinio.getTitolo()}</td>
                            <td>${tirocinio.getLuogo()}</td>
                            <td>${tirocinio.getDurata()}</td>
                            <td>${tirocinio.getOrari()}</td>
                          </tr>
                         </#list>
                        </tbody>
                      </table>
                    </div>
                <#else>
                    <div>
                        <div class="panel text-center maincard">
                            <h5 class="card-header"><b>Non sono stati trovati tirocini</b></h5>
                            <div class="card-body">
                                <h5 class="card-title">La ricerca secondo i parametri inseriti non ha prodotto risultati</h5>
                              <p class="card-text mainparagraph">Puoi provare ad eseguire una ricerca secondo altri paramentri.</p>
                            </div>
                        </div>
                    </div>
                </#if>
            </#if>
        </div>
        <!-- /col-md-12 -->
    </div>
</section>
