<section class="wrapper">
    <div class="row">
        
    </div>
    <div class="row">
        <!-- /col-md-12 -->
        <div class="col-md-12 mt">
            <div class="border-head">
              <h3>${Test}</h3>
            </div>
            <#if (tirocini??)>
                <#if (tirocini?size>0)>
                    <div class="content-panel">
                      <table class="table table-hover">
                        <h4><i class="fa fa-angle-right"></i>Tirocini Disponibili</h4>
                        <hr>
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Titolo</th>
                            <th>Stato</th>
                            <th>Luogo</th>
                            <th>Durata</th>
                            <th>Orari</th>
                          </tr>
                        </thead>
                        <tbody>
                         <#list tirocini as tirocinio>
                          <tr>
                            <td>1</td>
                            <td>${tirocinio.getTitolo()}</td>
                            <td>${tirocinio.getTitolo()}</td>
                            <td>${tirocinio.getLuogo()}</td>
                            <td>${tirocinio.getDurata()}</td>
                            <td>${tirocinio.getOrari()}</td>
                          </tr>
                         </#list>
                        </tbody>
                      </table>
                    </div>
                <#else>
                    <div>
                        <div class="panel text-center maincard">
                            <h5 class="card-header"><b>Non sono stati trovati tirocini</b></h5>
                            <div class="card-body">
                                <h5 class="card-title">La ricerca secondo i parametri inseriti non ha prodotto risultati</h5>
                              <p class="card-text mainparagraph">Puoi provare ad eseguire una ricerca secondo altri paramentri.</p>
                            </div>
                        </div>
                    </div>
                </#if>
            </#if>
        </div>
        <!-- /col-md-12 -->
    </div>
</section>
