<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>template/html</param-value>
    </context-param>
    <servlet>
        <servlet-name>Prova</servlet-name>
        <servlet-class>Controller.provaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudente</servlet-name>
        <servlet-class>Controller.RegisterStudente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAzienda</servlet-name>
        <servlet-class>Controller.RegisterAzienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>Controller.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaAziende</servlet-name>
        <servlet-class>Controller.VisualizzaAziende</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prova</servlet-name>
        <url-pattern>/prova</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>provaServlet</servlet-name>
        <servlet-class>Controller.ServletProvaTemplate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>provaServlet</servlet-name>
        <url-pattern>/ProvaTemplate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudente</servlet-name>
        <url-pattern>/registrazioen_studente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAzienda</servlet-name>
        <url-pattern>/registrazione_azienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/profilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaAziende</servlet-name>
        <url-pattern>/aziende</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/herokuDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
