<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>uploads.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>documenti_caricati</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl.html</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>template/html</param-value>
    </context-param>
    <filter>
        <filter-name>IsLogged</filter-name>
        <filter-class>filter.IsLogged</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>IsLogged</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Prova</servlet-name>
        <servlet-class>Controller.provaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudente</servlet-name>
        <servlet-class>Controller.RegisterStudente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAzienda</servlet-name>
        <servlet-class>Controller.RegisterAzienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>Controller.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaAziende</servlet-name>
        <servlet-class>Controller.VisualizzaAziende</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaTirocinio</servlet-name>
        <servlet-class>Controller.CreaTirocinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioTirocinio</servlet-name>
        <servlet-class>Controller.DettaglioTirocinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RichiediTirocinio</servlet-name>
        <servlet-class>Controller.RichiediTirocinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaTirocini</servlet-name>
        <servlet-class>Controller.VisualizzaTirocini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DettaglioAzienda</servlet-name>
        <servlet-class>Controller.DettaglioAzienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneraDocumenti</servlet-name>
        <servlet-class>Controller.GeneraDocumenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDocumenti</servlet-name>
        <servlet-class>Controller.UploadDocumenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadDocumenti</servlet-name>
        <servlet-class>Controller.DownloadDocumenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestioneRichiestaTirocinio</servlet-name>
        <servlet-class>Controller.GestioneRichiestaTirocinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaResoconto</servlet-name>
        <servlet-class>Controller.CreaResoconto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestioneAzienda</servlet-name>
        <servlet-class>Controller.GestioneAzienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FAQ</servlet-name>
        <servlet-class>Controller.FAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contatti</servlet-name>
        <servlet-class>Controller.Contatti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistiche</servlet-name>
        <servlet-class>Controller.Statistiche</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prova</servlet-name>
        <url-pattern>/prova</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>provaServlet</servlet-name>
        <servlet-class>Controller.ServletProvaTemplate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>provaServlet</servlet-name>
        <url-pattern>/ProvaTemplate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudente</servlet-name>
        <url-pattern>/registrazione_studente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAzienda</servlet-name>
        <url-pattern>/registrazione_azienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/profilo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaAziende</servlet-name>
        <url-pattern>/aziende</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaTirocinio</servlet-name>
        <url-pattern>/creazione_tirocinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioTirocinio</servlet-name>
        <url-pattern>/tirocinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiediTirocinio</servlet-name>
        <url-pattern>/richiedi_tirocinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaTirocini</servlet-name>
        <url-pattern>/tirocini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DettaglioAzienda</servlet-name>
        <url-pattern>/azienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneraDocumenti</servlet-name>
        <url-pattern>/documenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDocumenti</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadDocumenti</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneRichiestaTirocinio</servlet-name>
        <url-pattern>/gestione_richiesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaResoconto</servlet-name>
        <url-pattern>/crea_resoconto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestioneAzienda</servlet-name>
        <url-pattern>/gestione_azienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FAQ</servlet-name>
        <url-pattern>/faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contatti</servlet-name>
        <url-pattern>/contatti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistiche</servlet-name>
        <url-pattern>/statistiche</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/herokuDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
